In [1]:
months={"jan","feb","march","april","may","june"}
print (months)
months.add("august")
months.update(["july","august","sep","oct"])
print(months)

{'may', 'jan', 'june', 'feb', 'april', 'march'}
{'oct', 'sep', 'jan', 'may', 'june', 'august', 'march', 'july', 'feb', 'april'}

In [4]:
#Discard
months={"jan","feb","march","april","may","june"}
print (months)
months.discard("jan")
print(months)

{'may', 'jan', 'june', 'feb', 'april', 'march'}
{'may', 'june', 'feb', 'april', 'march'}

In [5]:
#Pop
months={"jan","feb","march","april","may","june"}
print (months)
delete=months.pop()
print(months)

{'may', 'jan', 'june', 'feb', 'april', 'march'}
{'jan', 'june', 'feb', 'april', 'march'}

In [6]:
#union
x={"apple","banna","mango"}
y={"microsoft","google","apple"}
z=x.union(y)
print(z)

{'mango', 'google', 'microsoft', 'banna', 'apple'}

In [7]:
name="rahul"
print(name)
name+"tiwari"
print(name)

rahul
rahul

In [9]:
#string
name="rahul"
print(id(name))
name=name+"tiwari"
print(id(name))

2305068610784
2305073284144

In [10]:
name="rahul"
print(id(name))
name=name+"tiwari"
print(id(name))
name[7]="x"
print(name)

2305068610784
2305073290288

TypeError: 'str' object does not support item assignment

In [11]:
name="rahul tiwari"
print(name)
print(name[1:10])

rahul tiwari
ahul tiwa

In [13]:
name="rahul tiwari"
print("name[::]",name[::])
print("name[:]",name[:])

name[::] rahul tiwari
name[:] rahul tiwari

In [15]:
# is operator
x=["apple","banaan"]
y=["apple","banaan"]
z=x
print(x is z)
print(x is y)

True
False

In [16]:
str="rahul tiwari"
print(str)
str.capitalize()
print(str)

rahul tiwari
rahul tiwari

In [17]:
str="rahul tiwari"
print(str)
str=str.capitalize()
print(str)

rahul tiwari
Rahul tiwari

In [18]:
str="rahul tiwari"
print(id(str))
str=str.capitalize()
print(id(str))

2305073787760
2305073775984

In [22]:
str="rahul "
print(str)
str=str.center(15,'*')
print(str)

rahul
*****rahul ****

In [25]:
#python string center ()method : 
#python center method alligns string to the center b filling paddings left and right of the string .
#this method takes two parameters, first is a width and second is a fill char which is optional.
#the fillchar is a character which is used to fill left and right padding of the string

In [24]:
str="hello"
str2=str.center(20)
print("old value",str)
print("new value",str2)

old value hello
new value        hello

In [27]:
#python string count()method:
#it return the number of occurence of substring in the specified range .
#it takes three parameters,first is a substring,second a start index and third is a last index .
#start and end both are optional whereas substring is required.

In [28]:
str="second a start index and third"
oc=str.count('a',8,15)
print(oc)

1

In [29]:
str="second a start index and third"
isends=str.endswith("and")
print(isends)

False

In [30]:
str="welcome to the python class"
str2=str.find("too",9,13)
print(str2)

-1

In [32]:
str="second a start index and third"
isends=str.endswith("and")
print(isends)

False

In [33]:
str="welcome to the python class"
output = str.isalnum()
print(output)

False

In [34]:
str="14254" #true
str3="welcome123" # false
str2=str.isalnum()
str4=str3.isalnum()
print(str2)
print(str4)

True
True

In [35]:
#python string lower()method
str="PYTHON"
str=str.lower()
print(str)

python

In [36]:
#python string upper()method
str="python"
str=str.upper()
print(str)

PYTHON

In [41]:
str=".....python....."
str2=str.lstrip('.')
str3=str.rstrip('.')
str4=str.strip('.')

print(str)
print(str2)
print(str3)
print(str4)

.....python.....
python.....
.....python
python

In [42]:
#replace method
str="java is a programming language"
str2=str.replace("java","c")
print(str2)

c is a programming language

In [43]:
#python string swapcase method
str="java is a programming language"
str2=str.swapcase()
print(str2)

JAVA IS A PROGRAMMING LANGUAGE