In [ ]:
#Write a Python program to sum all the items in a list.

In [1]:
def sum_of_list(lst):
    total = 0
    for item in lst:
        total += item
    return total

numbers = [1, 2, 3, 4, 5]
result = sum_of_list(numbers)
print(f"The sum of the list is: {result}")

The sum of the list is: 15

In [ ]:
#Write a Python program to get the largest and smallest number from a list without builtin function

In [3]:
def find_largest_and_smallest(numbers):
    if len(numbers) == 0:
        raise ValueError("The list is empty and has no largest or smallest number.")
    
    largest = smallest = numbers[0]

    for number in numbers[1:]:
        if number > largest:
            largest = number
        if number < smallest:
            smallest = number
    
    return largest, smallest

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
largest, smallest = find_largest_and_smallest(numbers)
print(f"Largest number: {largest}")
print(f"Smallest number: {smallest}")

Largest number: 9
Smallest number: 1

In [ ]:
# Write a Python program to find duplicate values from a list and display those.

In [5]:
def find_duplicates(numbers):
    # Dictionary to keep track of occurrences
    occurrences = {}
    
    # List to store duplicate values
    duplicates = []
    
    # Traverse through the list to count occurrences
    for number in numbers:
        if number in occurrences:
            occurrences[number] += 1
        else:
            occurrences[number] = 1
    
    # Find duplicates based on occurrences
    for number, count in occurrences.items():
        if count > 1:
            duplicates.append(number)
    
    return duplicates

# Example usage
numbers = [3, 5, 7, 3, 2, 8, 5, 1, 9, 2]
duplicates = find_duplicates(numbers)
print(f"Duplicate values: {duplicates}")

Duplicate values: [3, 5, 2]

In [ ]:
# Write a Python program to split a given list into two parts where the length of the first
# part of the list is given.
# Original list:
# [1, 1, 2, 3, 4, 4, 5, 1]
# Length of the first part of the list: 3
# Splitted the said list into two parts:
# ([1, 1, 2], [3, 4, 4, 5, 1])

In [7]:
def split_list(original_list, first_part_length):
    if first_part_length > len(original_list):
        raise ValueError("Length of the first part is greater than the length of the original list.")
    
    first_part = original_list[:first_part_length]
    second_part = original_list[first_part_length:]
    
    return first_part, second_part
original_list = [1, 1, 2, 3, 4, 4, 5, 1]
first_part_length = 3

first_part, second_part = split_list(original_list, first_part_length)
print(f"Original list: {original_list}")
print(f"Length of the first part of the list: {first_part_length}")
print(f"Splitted the said list into two parts: ({first_part}, {second_part})")

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted the said list into two parts: ([1, 1, 2], [3, 4, 4, 5, 1])

In [ ]:
# Write a Python program to traverse a given list in reverse order, and print the
# elements with the original index.
# Original list:
# ['red', 'green', 'white', 'black']
# Traverse the said list in reverse order:
# black
# white
# green
# red

In [9]:
def traverse_reverse_with_index(original_list):
    for index in range(len(original_list) - 1, -1, -1):
        print(f"Element: {original_list[index]}, Original Index: {index}")

original_list = ['red', 'green', 'white', 'black']

print("Traverse the said list in reverse order with original index:")
traverse_reverse_with_index(original_list)

Traverse the said list in reverse order with original index:
Element: black, Original Index: 3
Element: white, Original Index: 2
Element: green, Original Index: 1
Element: red, Original Index: 0

In [ ]:
# Write a Python program and calculate the mean of the below dictionary.

# test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

In [11]:
def calculate_mean(dictionary):
    values = dictionary.values()
    
    total_sum = sum(values)
    
    num_values = len(values)
    
    mean = total_sum / num_values
    
    return mean

test_dict = {"A": 6, "B": 9, "C": 5, "D": 7, "E": 4}

mean_value = calculate_mean(test_dict)
print(f"The mean of the dictionary values is: {mean_value:.1f}")

The mean of the dictionary values is: 6.2

In [ ]:
# Write a Python script to concatenate the following dictionaries to create a new one.
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = {**dic1, **dic2, **dic3}

print("Concatenated Dictionary:", result)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Write a Python program to get the key, value and item in a dictionary.
# input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
def print_dict_keys_values(dictionary):
    print("Key\tValue")
    
    for key, value in dictionary.items():
        print(f"{key}\t{value}")
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

print_dict_keys_values(dict_num)

Key	Value
1	10
2	20
3	30
4	40
5	50
6	60

In [ ]:
# Write a Python program to get the key, value and item in a dictionary.
# Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}

In [19]:
def print_dict_details(dictionary):
    print(f"{'Key':<5} {'Value':<5} {'Item'}")
    print('-' * 20)  # Separator line for better readability
    
    for key, value in dictionary.items():
        value_str = 'None' if value is None else str(value)
        item = f"{key}: {value_str}"
        print(f"{key:<5} {value_str:<5} {item}")
input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}
print_dict_details(input_dict)

Key   Value Item
--------------------
1     10    1: 10
2     20    2: 20
3     None  3: None
4     40    4: 40
5     None  5: None
6     60    6: 60

In [ ]:
# Write a Python program to find the number of times 4 appears in the tuple.

# Input:

# # tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

In [21]:
def count_occurrences(tup, value):
    return tup.count(value)

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

value_to_find = 4

count = count_occurrences(tuplex, value_to_find)

print(f"The number {value_to_find} appears {count} times in the tuple.")

The number 4 appears 3 times in the tuple.

In [ ]:
# Write a Python program to convert a list to a tuple.

# Input: listx = [5, 10, 7, 4, 15, 3]

In [23]:
def list_to_tuple(lst):
    return tuple(lst)

listx = [5, 10, 7, 4, 15, 3]

tuplex = list_to_tuple(listx)

print("The converted tuple is:", tuplex)

The converted tuple is: (5, 10, 7, 4, 15, 3)

In [ ]:
# Write a Python program to calculate the sum of the numbers in a given tuple.
# Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

In [25]:
def sum_of_tuple_elements(tuples_list):
    total_sum = 0
    for tup in tuples_list:
        total_sum += sum(tup)
    
    return total_sum

tuples_list = [(1, 2), (3, 4), (5, 6)]

result = sum_of_tuple_elements(tuples_list)

print(f"The sum of the numbers in the given tuples is: {result}")

The sum of the numbers in the given tuples is: 21

In [ ]:
# Write a python program and iterate the given tuples
# Input:
# employee1 = ("John Doe", 101, "Human Resources", 60000)
# employee2 = ("Alice Smith", 102, "Marketing", 55000)
# employee3 = ("Bob Johnson", 103, "Engineering", 75000)

In [27]:
def print_employee_records(employee_list):
    print("Employee Records:\n")
    
    for employee in employee_list:
        name, emp_id, department, salary = employee
        print(f"Name        : {name}")
        print(f"Employee ID : {emp_id}")
        print(f"Department  : {department}")
        print(f"Salary      : {salary}")
        print()  
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employees = [employee1, employee2, employee3]

print_employee_records(employees)

Employee Records:

Name        : John Doe
Employee ID : 101
Department  : Human Resources
Salary      : 60000

Name        : Alice Smith
Employee ID : 102
Department  : Marketing
Salary      : 55000

Name        : Bob Johnson
Employee ID : 103
Department  : Engineering
Salary      : 75000

In [ ]:
# Write a Python program to Get Only unique items from two sets.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}

In [31]:
def unique_items_from_sets(set1, set2):
    unique_items = set1.symmetric_difference(set2)
    return sorted(unique_items, key=lambda x: (x in set1, x))

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

unique_items = unique_items_from_sets(set1, set2)

print("Unique items from both sets:", unique_items)

Unique items from both sets: [60, 70, 10, 20]

In [ ]:
# Write a Python program to Return a set of elements present in Set A or B, but not both.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}

In [34]:
def symmetric_difference(set1, set2):
    result = set1.symmetric_difference(set2)
    return result
    
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

result_set = symmetric_difference(set1, set2)
print("Elements present in Set A or B, but not both:", result_set)

Elements present in Set A or B, but not both: {20, 70, 10, 60}

In [ ]:
# Write a Python program to Check if two sets have any elements in common. If yes, display the common elements.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {60, 70, 80, 90, 10}

In [36]:
def common_elements(set1, set2):
    common = set1.intersection(set2)
    return common

# Input sets
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
common_set = common_elements(set1, set2)

if common_set:
    print("Common elements:", common_set)
else:
    print("No common elements.")

Common elements: {10}

In [ ]:
# Write a Python program to Remove items from set1 that are not common to both set1 and set2.
# Input:
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}

In [38]:
def retain_common_elements(set1, set2):
    common_elements = set1.intersection(set2)
    set1.intersection_update(set2)
    return set1

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
updated_set1 = retain_common_elements(set1, set2)

print("Updated set1 with only common elements:", updated_set1)

Updated set1 with only common elements: {40, 50, 30}