Ques: To display the input time (in sec) into Hour:Minute:Second

In [ ]:
sec=int(input("Enter the time in second:"))
if(sec>=0):
    hour=0
    min=0
    if(sec>=3600):
        hour=sec//3600
        min=sec%3600//60
        sec=sec%60
        print(hour,"Hour:",min,"Minute:",sec,"Second")
    elif((sec>=60)and(sec<3600)):
        min=sec//60
        sec=sec%60
        print(min,"Minute:",sec,"Second")
    elif(sec<60):
        print(sec,"Second")
else:
    print("Invalid input time in negative")

Enter the time in second:6879
1 Hour: 54 Minute: 39 Second

Ques: To find greatest between two number

In [ ]:
first=int(input("Enter the First number: "))
second=int(input("Enter the Second number: "))
if(first>second):
    print(first,"is greater than",second)
elif(first==second):
    print("Both number are equals")
else:
    print(second,"is greater than",first)

Enter the First number: 68
Enter the Second number: 54
68 is greater than 54

Ques: Given the Cost Price(CP) and Selling Price(SP) of a product. The task is to Calculate the Profit or Loss.

In [ ]:
cp=float(input("Enter the Cost price: "))
sp=float(input("Enter the Selling price: "))
if(cp<0):
    print("Cost Price can not be negative")
elif(sp<0):
    print("Selling Price can not be negative")
else:
  if(sp>cp):
      print("Profit is : ",(sp-cp))
  elif(cp>sp):
      print("Loss is : ",(cp-sp))
  else:
      print("No Profit No Loss")

Enter the cost price: 8965
Enter the selling price: 3684
Loss is :  5281.0

Ques: To display the numbers between 10 and 500 divisible by both 7 and 10 using For Loop.

In [ ]:
print("The numbers between 10 and 500 divisible by both 7 and 10 are :")
for x in range(10,500):
    if(x%7==0 and x%10==0):
        print(x,end=",")

The numbers between 10 and 500 divisible by both 10 and 7 are :
70,140,210,280,350,420,490,

Ques: To count the numbers between 100 and 1000 which is even and also divisible by 3 using For Loop.

In [ ]:
count=0
print("Numbers between 100 and 1000 which is even and also divisible by 3 are : ")
for x in range(100,1000):
    if(x%2==0 and x%3==0):
        print(x,end=',')
        count=count+1
print(" ")
print("Total numbers between 100 and 1000 which are even and divisible by 3 is",count)

Numbers between 100 and 1000 which is even and also divisible by 3 are :
102,108,114,120,126,132,138,144,150,156,162,168,174,180,186,192,198,204,210,216,222,228,234,240,246,252,258,264,270,276,282,288,294,300,306,312,318,324,330,336,342,348,354,360,366,372,378,384,390,396,402,408,414,420,426,432,438,444,450,456,462,468,474,480,486,492,498,504,510,516,522,528,534,540,546,552,558,564,570,576,582,588,594,600,606,612,618,624,630,636,642,648,654,660,666,672,678,684,690,696,702,708,714,720,726,732,738,744,750,756,762,768,774,780,786,792,798,804,810,816,822,828,834,840,846,852,858,864,870,876,882,888,894,900,906,912,918,924,930,936,942,948,954,960,966,972,978,984,990,996,
Total numbers between 100 and 1000 which are even and divisible by 3 is 150

Ques: To count the numbers between 100 and 1000 which is even and also divisible by 3 using while Loop.

In [14]:
x=100
count=0
print("Numbers between 100 and 1000 which is even and also divisible by 3 are : ")
while(x<1000):
  if(x%2==0 and x%3==0):
    print(x,end=',')
    count=count+1
  x=x+1
print(" ")
print("Total numbers between 100 and 1000 which are even and divisible by 3 is",count)

Numbers between 100 and 1000 which is even and also divisible by 3 are :
102,108,114,120,126,132,138,144,150,156,162,168,174,180,186,192,198,204,210,216,222,228,234,240,246,252,258,264,270,276,282,288,294,300,306,312,318,324,330,336,342,348,354,360,366,372,378,384,390,396,402,408,414,420,426,432,438,444,450,456,462,468,474,480,486,492,498,504,510,516,522,528,534,540,546,552,558,564,570,576,582,588,594,600,606,612,618,624,630,636,642,648,654,660,666,672,678,684,690,696,702,708,714,720,726,732,738,744,750,756,762,768,774,780,786,792,798,804,810,816,822,828,834,840,846,852,858,864,870,876,882,888,894,900,906,912,918,924,930,936,942,948,954,960,966,972,978,984,990,996,
Total numbers between 100 and 1000 which are even and divisible by 3 is 150

Create and Display the List

In [16]:
list=[1,2,3,4,"hello"]
print("Display the list with formatting: ")
print(list)
print("Display the list without formatting:")
print(*list)
print("Display the list element by element using for loop: ")
for x in list:
  print(x)

Display the list with formatting:
[1, 2, 3, 4, 'hello']
Display the list without formatting:
1 2 3 4 hello
Display the list element by element using for loop:
1
2
3
4
hello

Access element of a List using Indexing

In [21]:
list=[1,2,3,4,5,"hello","World",6,7]
print("List is:",list)
print("Fetching 3rd element of a list: ")
print(list[2])
print("fetching 4th element from last of a list:")
print(list[-4])
print("Fetching elements from 3rd to 10th position in a list:")
print(list[2:10])
print("Fetching alternate elements from 3rd to 10th position in a list:")
print(list[2:10:2])

List is: [1, 2, 3, 4, 5, 'hello', 'World', 6, 7]
Fetching 3rd element of a list:
3
fetching 4th element from last in a list:
hello
Fetching elements from 3rd to 10th position in a list:
[3, 4, 5, 'hello', 'World', 6, 7]
Fetching alternate elements from 3rd to 10th position in a list:
[3, 5, 'World', 7]

Ques: Create a list of 20 numbers and print the number in backward direction using forward indexing

In [24]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,15,18,19,20]
print("List is ",list)
print("Display the element of a list in backward direction using forward indexing :")
x=len(list)-1
for i in range(x,-1,-1):
    print(list[i],end=',')

List is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 15, 18, 19, 20]
Display the element of a list in backward direction using forward indexing :
20,19,18,15,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

Insertion of element in a List

In [41]:
list1=[1,2,3,4,5]
print("List1 is ",list1)
list2=[6,7,8,9,10]
print("List2 is ",list2)
#append() is used to insert only one element of a list in another list.
print("Insert the element of a list2 in list1 by using append method:")
for x in list2:
    list1.append(x)
print(list1)
# extend() is used to insert all element of any sequence datatype in a List.
tuple1=(11,12,13,14,15)
print("tuple1 is ",tuple1)
print("Insert the element of a tuple1 in list1 by using extend method:")
list1.extend(tuple1)
print(list1)
#insert() is used insert the element at specified position in a list.
print("Insert the element 15 at index 3 in list2:")
list2.insert(3,15)
print(list2)

List1 is  [1, 2, 3, 4, 5]
List2 is  [6, 7, 8, 9, 10]
Insert the element of a list2 in list1 by using append method:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple1 is  (11, 12, 13, 14, 15)
Insert the element of a tuple1 in list1 by using extend method:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Insert the element 15 at index 3 in list2:
[6, 7, 8, 15, 9, 10]

Deletion of element from a list

In [40]:
list1=[1,2,1,3,3,4,5,6]
print("list1 is: ",list1)
print("Delete the element of a list1 having index 2 using pop()")
list1.pop(2)
print("After deletion,list1 is ",list1)
print("Remove the first occurrence of a element 3 from a list1 using remove()")
list1.remove(3)
print("After deletion , list1 is ",list1)
print("Remove all element of list1 using clear()")
list1.clear()
print("list1 is empty i.e.",list1)

list1 is:  [1, 2, 1, 3, 3, 4, 5, 6]
Delete the element of a list1 having index 2 using pop()
After deletion,list1 is  [1, 2, 3, 3, 4, 5, 6]
Remove the first occurrence of a element 3 from a list1 using remove()
After deletion , list1 is  [1, 2, 3, 4, 5, 6]
Remove all element of list1 using clear()
list1 is empty i.e. []

Ques: Find the method to insert all the element of another sequence datatype at particular index in the list. But all the element must be inserted one by one.

In [62]:
List1=[1,2,3,4,8,9,10]
print("List1 is",List1)
List2=[5,6,7]
print("List2 is ",List2)
index=int(input("Enter the index where you want to insert the List2 in List1: "))
if(index>=0 and index<len(List1)):
  for i in range(len(List2)):
     List1.insert(index+i,List2[i])
  print("Updated List1 will be: ",List1)
elif(index<0 and index>=-len(List1)):
  for i in range(len(List2)):
     List1.insert(index,List2[i])
  print("Updated List1 will be: ",List1)
else:
  print("Entered index",index,"is out of range")

List1 is [1, 2, 3, 4, 8, 9, 10]
List2 is  [5, 6, 7]
Enter the index where you want to insert the List2 in List1: -4
Updated List1 will be:  [1, 2, 3, 5, 6, 7, 4, 8, 9, 10]

Create and display the student  dataset in tabular form by using List

In [72]:
from tabulate import tabulate

# Creating student dataset using List
data = [
    ["std101", "Ashish Kumar", "10th", 15, 67, 89, 87, 89, 90, 422],
    ["std102", "Abhishek Kumar", "10th", 15, 34, 45, 78, 45, 31, 233],
    ["std103", "Aman", "10th", 15, 56, 56, 78, 78, 45, 313],
    ["std104", "Rahul", "10th", 15, 78, 67, 89, 89, 78, 402],
    ["std105", "Ruby", "10th", 13, 89, 56, 45, 45, 67, 302],
    ["std106", "Suman", "10th", 13, 67, 67, 67, 67, 67, 335],
    ["std107", "Saurabh", "10th", 15, 45, 23, 45, 78, 67, 258],
    ["std108", "Sumit", "10th", 15, 89, 90, 89, 90, 45, 403],
    ["std109", "Kamlesh", "10th", 15, 78, 45, 78, 78, 78, 337],
    ["std110", "Rohan", "10th", 15, 12, 24, 45, 56, 34, 171]
]

# Define the headers
headers = ["stdid", "stdname", "standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"]

# Display the table
print("Student dataset in table:")
print(tabulate(data, headers=headers, tablefmt="grid"))
print( )
# Define the index for English marks
english_index = 5

# Find and print the names of students with English marks greater than 50 using a for loop
print("Students with English marks greater than 70:")
for row in data:
    if row[english_index] > 50:
        print(row[1])
print("------------*-------------*-------------*--------------*-------------")
print("Name and Age of a student who are top four scorer in Maths:")
# Extract student name, age, and Maths score
relevant_data = [(row[1], row[3], row[6]) for row in data]

# Sort the data by Maths score in descending order
sorted_data = sorted(relevant_data, key=lambda x: x[2], reverse=True)

# Select the top four students
top_four = sorted_data[0:4]

# Print the top four students' names and ages
for student in top_four:
    print("Student Name:" ,student[0],", Age:", student[1])
print("------------*-------------*-------------*--------------*-------------")
print("Name, Id and Age of student who are bottom three scorer in Computer:")
# Extract student id,name, age, and computer score
relevant_data = [(row[0], row[1],row[3], row[8]) for row in data]

# Sort the data by computer score in ascending order
sorted_data = sorted(relevant_data, key=lambda x: x[3])

# Select the bottom three students
bottom_three = sorted_data[0:3]

# Print the bottom three students id, names and ages
for student in bottom_three:
    print("Student Id: ",student[0],", Student Name:", student[1],", Age:", student[2])

Student dataset in table:
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    15 |      34 |        45 |      78 |        45 |         31 |     233 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      56 |        56 |      78 |        78 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    15 |      78 |        67 |      89 |        89 |         78 |     402 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      89 |        56 |      45 |        45 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    13 |      67 |        67 |      67 |        67 |         67 |     335 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th       |    15 |      45 |        23 |      45 |        78 |         67 |     258 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    15 |      89 |        90 |      89 |        90 |         45 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      78 |        45 |      78 |        78 |         78 |     337 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      12 |        24 |      45 |        56 |         34 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

Students with English marks greater than 70:
Ashish Kumar
Aman
Rahul
Ruby
Suman
Sumit
------------*-------------*-------------*--------------*-------------
Name and Age of a student who are top four scorer in Maths:
Student Name: Rahul , Age: 15
Student Name: Sumit , Age: 15
Student Name: Ashish Kumar , Age: 15
Student Name: Abhishek Kumar , Age: 15
------------*-------------*-------------*--------------*-------------
Name, Id and Age of student who are bottom three scorer in Computer:
Student Id:  std102 , Student Name: Abhishek Kumar , Age: 15
Student Id:  std110 , Student Name: Rohan , Age: 15
Student Id:  std103 , Student Name: Aman , Age: 15

Ques: Print the element of tuple in backward direction using forward indexing

In [75]:
# print the tuple in backward direction using forward indexing
tuple=(1,2,3,4,5)
print("Tuple is:",tuple)
print("Display the element of tuple in backward direction using forward indexing: ")
x=len(tuple)-1
for i in range(x,-1,-1):
  print(tuple[i],end=',')

Tuple is: (1, 2, 3, 4, 5)
Display the element of tuple in backward direction using forward indexing
5,4,3,2,1,

Ques: Print the element of tuple in forward direction using backward indexing

In [79]:
tuple=(1,2,3,4,5)
print("Tuple is:",tuple)
print("Display the element of tuple in forward direction using backward indexing: ")
x=len(tuple)
for i in range(-x,0):
  print(tuple[i],end=',')

Tuple is: (1, 2, 3, 4, 5)
Display the element of tuple in forward direction using backward indexing:
1,2,3,4,5,

Creating a dictionary and access it's element (key:value)

In [91]:
#Creating a Dictionary
student={'stdid':'std101','stdname': 'Ashish Kumar','standard': '10th','age': 15}
print("Dictionary is ",student)
#insert element with key standard
print(" ")
print("Insert element with key standard in student dictionary: ")
student['standard']='12th'
print(student)
#insert an element with key hindi
print(" ")
print("Insert element with key hindi in student dictionary: ")
student['hindi']=78
print(student)
#find the key of dictionary
print(" ")
print("Keys in student dictionary are")
for key in student:
  print(key)
#print the value of dictionary with it's key
print(' ')
print("Elements of dictionary in (key:value pair):")
for key in student:
  print(key,":",student[key])

Dictionary is  {'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'age': 15}

Insert element with key standard in student dictionary:
{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '12th', 'age': 15}

Insert element with key hindi in student dictionary:
{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '12th', 'age': 15, 'hindi': 78}

Keys in student dictionary are
stdid
stdname
standard
age
hindi

Elements of dictionary in (key:value pair):
stdid : std101
stdname : Ashish Kumar
standard : 12th
age : 15
hindi : 78

Using basic dictionary method

In [106]:
student_data={'stdid':'std101','stdname': 'Ashish Kumar','standard': '10th','age': 15,'hindi':67,'English':89}
#To display the dictionary
print("Dictionary is :")
print(student_data)
#delete element having key as hindi
print(" ")
print("Removing the element from dictionary having key as hindi :")
student_data.pop('hindi')
print(student_data)
#To delete the last item in dictionary
print(" ")
print("Removing the last item from a dictioary")
student_data.popitem()
print(student_data)
#Using keys()
#to return the keys of all the element in List
print(" ")
print("Display the list of keys in List")
element_keys=student_data.keys()
print(element_keys)
#Using values()
#To return the values of all the element in List of a Dictionary
print(" ")
print("Display the list of values in List")
element_values=student_data.values()
print(element_values)
#Using items()
#To return the a list of items
print(" ")
print("Display the list of item of a dictionary in List")
dict_items=student_data.items()
print(dict_items)
#To find all the value of all the element
print(" ")
print("Display the values of all key of a Dictionary: ")
for data in student_data.values():
  print(data)
print("------------*----------------*------------------*----------------")
#using get()
#To check the whether key is available in a dictionary or not
print("Is key (maths) is available in dictionary?  ")
x= student_data.get('maths')
print(x)
print('------------------*-------------------*---------------*------------')
# Using update()
dict1={'name':'Amit','Age':15,'standard':'10th'}
print("Dictionary1 is: ",dict1)
dict2={'hindi':67,'Age':16,'standard':"12th",'English':67}
print("Dictionary2 is: ",dict2)
# inserting all the element of the dict2 into dict1
print(" ")
print("Inserting all the element of the dictionary2 into dictionary1: ")
dict1.update(dict2)
print(dict1)
print('------------------*-------------------*---------------*------------')
#Using fromkeys()
print("Using fromkeys method in dictionary1 in key 'english':")
x=dict1.fromkeys('english',16)
print(x)
print(" ")
print("Using fromkeys method in dictionary1 in it's keys and values: ")
y=dict1.fromkeys(dict1.keys(),dict1.values())
print(y)
print(" ")
print("Using fromkeys method in dictionary1 in it's keys and using value '16':")
z=dict1.fromkeys(dict1.keys(),16)
print(z)
print("-------------------*-----------------*----------------*----------------")
#Using len()
#To find the no. of element of a dictionary
print("Length of the dictionary1 is :")
print(len(dict1))

Dictionary is :
{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'age': 15, 'hindi': 67, 'English': 89}

Removing the element from dictionary having key as hindi :
{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'age': 15, 'English': 89}

Removing the last item from a dictioary
{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'age': 15}

Display the list of keys in List
dict_keys(['stdid', 'stdname', 'standard', 'age'])

Display the list of values in List
dict_values(['std101', 'Ashish Kumar', '10th', 15])

Display the list of item of a dictionary in List
dict_items([('stdid', 'std101'), ('stdname', 'Ashish Kumar'), ('standard', '10th'), ('age', 15)])

Display the values of all key of a Dictionary:
std101
Ashish Kumar
10th
15
------------*----------------*------------------*----------------
Is key (maths) is available in dictionary?
None
------------------*-------------------*---------------*------------
Dictionary1 is:  {'name': 'Amit', 'Age': 15, 'standard': '10th'}
Dictionary2 is:  {'hindi': 67, 'Age': 16, 'standard': '12th', 'English': 67}

Inserting all the element of the dictionary2 into dictionary1:
{'name': 'Amit', 'Age': 16, 'standard': '12th', 'hindi': 67, 'English': 67}
------------------*-------------------*---------------*------------
Using fromkeys method in dictionary1 in key 'english':
{'e': 16, 'n': 16, 'g': 16, 'l': 16, 'i': 16, 's': 16, 'h': 16}

Using fromkeys method in dictionary1 in it's keys and values:
{'name': dict_values(['Amit', 16, '12th', 67, 67]), 'Age': dict_values(['Amit', 16, '12th', 67, 67]), 'standard': dict_values(['Amit', 16, '12th', 67, 67]), 'hindi': dict_values(['Amit', 16, '12th', 67, 67]), 'English': dict_values(['Amit', 16, '12th', 67, 67])}

Using fromkeys method in dictionary1 in it's keys and using value '16':
{'name': 16, 'Age': 16, 'standard': 16, 'hindi': 16, 'English': 16}
-------------------*-----------------*----------------*----------------
Length of the dictionary1 is :
5

Create and display the student dataset in tabular form by using Dictionary

In [73]:
from tabulate import tabulate
# Using DICTIONARY
# Data of the Student from Excel
data = [
    {"stdid": "std101", "stdname": "Ashish Kumar", "standard": "10th", "Age": 15, "Hindi": 67, "English": 89, "Maths": 87, "Science": 89, "Computer": 90, "Total": 422},
    {"stdid": "std102", "stdname": "Abhishek Kumar", "standard": "10th", "Age": 15, "Hindi": 34, "English": 45, "Maths": 78, "Science": 45, "Computer": 31, "Total": 233},
    {"stdid": "std103", "stdname": "Aman", "standard": "10th", "Age": 15, "Hindi": 56, "English": 56, "Maths": 78, "Science": 78, "Computer": 45, "Total": 313},
    {"stdid": "std104", "stdname": "Rahul", "standard": "10th", "Age": 15, "Hindi": 78, "English": 67, "Maths": 89, "Science": 89, "Computer": 78, "Total": 402},
    {"stdid": "std105", "stdname": "Ruby", "standard": "10th", "Age": 13, "Hindi": 89, "English": 56, "Maths": 45, "Science": 45, "Computer": 67, "Total": 302},
    {"stdid": "std106", "stdname": "Suman", "standard": "10th", "Age": 13, "Hindi": 67, "English": 67, "Maths": 67, "Science": 67, "Computer": 67, "Total": 335},
    {"stdid": "std107", "stdname": "Saurabh", "standard": "10th", "Age": 15, "Hindi": 45, "English": 23, "Maths": 45, "Science": 78, "Computer": 67, "Total": 258},
    {"stdid": "std108", "stdname": "Sumit", "standard": "10th", "Age": 15, "Hindi": 89, "English": 90, "Maths": 89, "Science": 90, "Computer": 45, "Total": 403},
    {"stdid": "std109", "stdname": "Kamlesh", "standard": "10th", "Age": 15, "Hindi": 78, "English": 45, "Maths": 78, "Science": 78, "Computer": 78, "Total": 337},
    {"stdid": "std110", "stdname": "Rohan", "standard": "10th", "Age": 15, "Hindi": 12, "English": 24, "Maths": 45, "Science": 56, "Computer": 34, "Total": 171}
]
# To print the data in tabular form
print(tabulate(data, headers="keys", tablefmt="grid"))
# Initialize an empty list to store names of students
filtered_students = []
# To check if the student's English marks is greater than 50
for student in data:
    if student["English"] > 50:
        filtered_students.append(student["stdname"])
# Print the names of students
print("Students whose marks in English are greater than 50:")
for name in filtered_students:
    print(name)

print("------------------*------------------*-----------------*------------------")
print("Name and Age of a student who are top four scorer in Maths:")
# Sort data based on Maths scores in descending order
sorted_data = sorted(data, key=lambda x: x["Maths"], reverse=True)
top_four = sorted_data[0:4]
# Prepare table data that contain the name and age of top four scorer of Maths
table_data = [[student["stdname"], student["Age"]] for student in top_four]
# Display the table_data in tabular form
print(tabulate(table_data, headers=["Student Name", "Age"], tablefmt="grid"))

print("------------------*------------------*-----------------*------------------")
print("Name, Id and Age of student who are bottom three scorer in Computer:")
# Sort data based on Computer scores in ascending order
sorted_data = sorted(data, key=lambda x: x["Computer"])
bottom_three = sorted_data[:3]

#Prepare table data that contain the Name ,Id and Age of bottom three scorer in Computer
table_data = [[student["stdname"], student["stdid"], student["Age"]] for student in bottom_three]
# Display the table_data in tabular form
print(tabulate(table_data, headers=["Student Name", "Student ID", "Age"], tablefmt="grid"))

+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    15 |      34 |        45 |      78 |        45 |         31 |     233 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      56 |        56 |      78 |        78 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    15 |      78 |        67 |      89 |        89 |         78 |     402 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      89 |        56 |      45 |        45 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    13 |      67 |        67 |      67 |        67 |         67 |     335 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th       |    15 |      45 |        23 |      45 |        78 |         67 |     258 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    15 |      89 |        90 |      89 |        90 |         45 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      78 |        45 |      78 |        78 |         78 |     337 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      12 |        24 |      45 |        56 |         34 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
Students whose marks in English are greater than 50:
Ashish Kumar
Aman
Rahul
Ruby
Suman
Sumit
------------------*------------------*-----------------*------------------
Name and Age of a student who are top four scorer in Maths:
+----------------+-------+
| Student Name   |   Age |
+================+=======+
| Rahul          |    15 |
+----------------+-------+
| Sumit          |    15 |
+----------------+-------+
| Ashish Kumar   |    15 |
+----------------+-------+
| Abhishek Kumar |    15 |
+----------------+-------+
------------------*------------------*-----------------*------------------
Name, Id and Age of student who are bottom three scorer in Computer:
+----------------+--------------+-------+
| Student Name   | Student ID   |   Age |
+================+==============+=======+
| Abhishek Kumar | std102       |    15 |
+----------------+--------------+-------+
| Rohan          | std110       |    15 |
+----------------+--------------+-------+
| Aman           | std103       |    15 |
+----------------+--------------+-------+